#exerciseSearch {
    margin: auto;
    margin-top: 50px;
    width: 500px;
}

#exerciseSearchInput {
    padding-left: 0px;
}

#searchButton {
    background-color: var(--myBlue);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: white;
    padding-right: 16px;
    margin: 0px;
    height: 40px;
}

#searchText {
    font-size: 20px;
    color: var(--myBlue);
}

.slick-prev:before {
    color: black !important;
}

.slick-next:before {
    color: black !important;
}

@media (max-width: 576px) {
    #exerciseSearch {
        width: 350px;
    }
    #exerciseSearchInput {
        font-size: 14px;
        padding-top: 3px;
        padding-right: 0px;
    }
}