#exerciseSearch {
    margin: auto;
    margin-top: 50px;
    width: 500px;
}

#exerciseSearchInput {
    padding-left: 0px;
}

#searchButton {
    background-color: var(--myBlue);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: white;
    padding-right: 16px;
    margin: 0px;
    height: 40px;
}

.slick-prev:before {
    color: black !important;
}

.slick-next:before {
    color: black !important;
}