body {
    -webkit-transition: background-color .2s linear;
    -ms-transition: background-color .2s linear;
    transition: background-color .2s linear;
    will-change: background-color;
}

.jumbotron {
    background: none !important;
}

#homeIntroJumbo {
    height: calc(100vh - 194.5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

#homeIntro {
    color: var(--myBlack);
    margin-right: 745px;
    margin-top: 5vh;
    font-size: 35px;
    line-height: 10px;
}

#homeTitle {
    font-weight: 600;
    color: white;
    font-size: 82px;
    line-height: 74px;
    margin-bottom: 60px;
}

.chooseButton {
    background-color: var(--myBlack) !important;
    font-weight: 600 !important;
    width: 297px;
    height: 57px;
    font-weight: 500 !important;
    font-size: 32px !important;
    line-height: 38px !important;
    border-radius: 10px !important;
    margin: 10px;
}

.chooseButton:hover {
    background-color: var(--myGreen) !important;
}

#myExercisesArea {
    text-align: center;
}

#starJumper {
    height: 80px;
}

#excerciseHistory {
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

#excerciseHistory:hover {
    color: var(--myBlack);
    cursor: pointer;
}

@media (max-width: 989px) {
    #homeIntro {
        margin-right: 0px;
    }
}