.startButton {
    background-color: var(--myBlack) !important;
    font-weight: 600 !important;
    width: 360px;
    height: 60px;
    padding-top: 3px;
    font-weight: 700 !important;
    font-size: 48px !important;
    line-height: 0px !important;
    border-radius: 10px !important;
    margin: 10px;
    margin-top: 0px;
}

.exercises {
    padding-left: 0px;
}

.exercises {
    padding-left: 0px;
}

.exerciseList {
    background-color: white;
    margin-bottom: 10px !important;
    height: 47px;
    width: 360px;
    font-size: 24px;
    font-weight: 500;
    line-height: 41px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .2);
}

li {
    list-style: none;
    margin: auto;
}

@media (max-width: 780px) {
    .exerciseList {
        margin-left: calc(50% - 180px);
    }
}

/* .exerciseListItem {
    height: 50px;
    width: 300px;
    font-size: 28px;
    background-color: aliceblue;
    margin: 4px;
    border-radius: 8px;
} */

.listContainer {
    width: 360px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.inProgress {
color: var(--myGreen);
font-size: 32px;
font-weight: 500;
line-height: 39px;
}