.startButton {
    background-color: var(--myBlack) !important;
    font-weight: 600 !important;
    width: 360px;
    height: 60px;
    padding-top: 3px;
    font-weight: 700 !important;
    font-size: 48px !important;
    line-height: 0px !important;
    border-radius: 10px !important;
    margin: 10px;
}

.exercises {
    padding-left: 0px;
}

.exerciseList {
    list-style-type: none;
    background-color: white;
    margin-bottom: 10px !important;
    height: 47px;
    width: 360px;
    margin: auto;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    border-radius: 10px;
}