
@media (max-width: 780px) {
    .timerCard {
     margin-left: 0px;
    }
   }

.timerCard, .starterCard {
    width: 360px;
    height: 500px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title-start {
    text-align: center;
}

.card-title {
    margin: 100px;
    text-align: center;
}

.timerCard:nth-child(2) > div:nth-child(3) {
    font-size: 30px;
    color: #02DEC4;
    
}

.timerCardGif {
    width: 180px;
    margin: 20px;
}


button {
    
    border: none;
    font-size: 18px;
    color: #02dec4;
    background: none;
    margin: 5px;
    font-weight: lighter;

}

.pauseButton {
    font-weight: bold;
}


.nextExerciseText {
    font-size: 15px;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
    text-align: center;

}

.timerCard:nth-child(2)>div:nth-child(4) {
    font-size: 35px;
    line-height: 125px;
    color: #02DEC4;
}

