#activeWorkout {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 780px) {
    #activeWorkout {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}