#selectText {
    font-size: 20px;
    color: var(--myBlue);
}

#figure {
    height: 550px;
    position: relative;
    left: -122.5px;
}

#wholeBody {
    z-index: -10;
    position: absolute;
    width: 245px;
    height: auto;

}

#upperBody {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 83px;
    width: 245px;
    height: auto;
}

#core {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 170px;
    width: 245px;
    height: auto;
}

#legs {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 302px;
    width: 245px;
    height: auto;
}

#upperBody:hover {
    opacity: 1;
}

#core:hover {
    opacity: 1;
}

#legs:hover {
    opacity: 1;
}

#pickerStart {
    margin: auto;
}

#targetPart {
    color: var(--myBlue);
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
}

#upperBodyX {
    cursor: pointer;
    opacity: 1;
    position: absolute;
    top: 83px;
    width: 245px;
    height: auto;
}

#coreX {
    cursor: pointer;
    opacity: 1;
    position: absolute;
    top: 170px;
    width: 245px;
    height: auto;
}

#legsX {
    cursor: pointer;
    opacity: 1;
    position: absolute;
    top: 302px;
    width: 245px;
    height: auto;
}

@media (max-width: 576px) {

    #figure {
        height: 400px;
        left: -87.5px;
    }

    #wholeBody {
        width: 175px;
    }

    #upperBody {
        top: 59px;
        width: 175px;
    }

    #core {
        top: 122px;
        width: 175px;
    }

    #legs {
        top: 216.5px;
        width: 175px;
    }

    #upperBodyX {
        top: 59px;
        width: 175px;
    }

    #coreX {
        top: 122px;
        width: 175px;
    }

    #legsX {
        top: 216.5px;
        width: 175px;
    }
}