body {
    background-color: rgb(62, 240, 220);
}


.workoutPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.listContainer {
    margin-right: 10px;
}

.timerCard {
    margin-left: 10px;
}

@media (max-width: 780px) {
    .workoutPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .listContainer {
        margin-right: 0px;
        margin: auto;
    }
}